service_account_key_file = "/home/user/otus/key.json"
cloud_id                 = "b1gubh87kytgfh54vr9h"
folder_id                = "b1gubh87kytgfh54vr9h"
zone                     = "ru-central1-b"
image_id                 = "fd8obg48ff7q80r6o9q3"
subnet_id                = "e2l96tfa6hau9qsl3tmt"
public_key_path          = "/home/elait/.ssh/appuser.pub"
path_to_key              = "~/.ssh/appuser"
instance_count           = "1"
app_disk_image           = "fd83avu5trvub45gltfg"
db_disk_image            = "fd8bu1i5dpg13ri6ip8b"
disk_size                = "29"
disk_type                = "network-ssd"
