service_account_key_file = "/home/user/otus/key.json"
cloud_id = "abc123"
folder_id = "cba321"
zone = "ru-central1-b"
image_id = "imob91333"
subnet_id = "e2l96t"
public_key_path = "/home/user/.ssh/appuser.pub"
path_to_key = "~/.ssh/appuser"
instance_count = "2"
